<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>My Bank</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="color:dodgerblue" href="#">MyBank</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/accueil}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sercvice}">services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">a propos</a>
                    </li>
                    <li class="nav-item right-pill">
                        <a class="nav-link red" th:href="@{/login?logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <br/>
    <section layout:fragment="content">
     <div class="card">
      <div class="card-header" > Virement</div>
  <div class="card-body">
  
   <form th:action="@{/saveOperation}" method="post">
   <div>
   <label>effectuer votre virement</label>
   <input type="hidden" name="pin"  th:value="${pin}">
   
   </div>
   
  

<div class="form-group"  >
<label class="control-label">Vers:</label>
<input type="text" name="codeCompte2" class="form-
control" placeholder="code compte destinataire"></input>
</div>
<div class="form-group">
<label class="control-label">Montant:</label>
<input type="text" name="montant" class="form-
control" placeholder="montant"></input>
</div>

<div>
<button class="btn btn-primary" type="submit"
name="saveOp">Save</button>
</div>
</form>
</div>
   
</div>
</section>
    </body>
    </html>